html, body {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 700px;
  min-width: 300px;
}

h1 {
  line-height: 1.35;
}

pre, code {
  color: black;
  background-color: #d3d3d361;
}

pre {
  padding: 1em;
  border-radius: 1em;
}

code {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.5em;
}

pre em {
  font-style: normal;
  font-weight: bold;
}

kw {
  color: darkblue;
}

type {
  color: brown;
}

.grow-wrap {
  display: grid;
}

.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}

.grow-wrap::after {
  content : attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
  border: 1px solid black;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 1rem;
  grid-area: 1 / 1 / 2 / 2;
  line-height: 1.2rem;
}

#sandbox-message {
  font-size: 0.75rem;
}

span.error-location {
  color: red;
  font-weight: bold;
  font-style: normal;
}

.example hr {
  opacity: 0.3;
}

.example {
  overflow-x: auto;
}

.crossword {
  margin: auto;
  width: fit-content;
}

.crossword-row {
  display: flex;
  flex-direction: horizontal;
}

.crossword-open {
  width: 50px;
  height: 50px;
  background-color: #e2e8f0;
  margin: 1px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

.clue-number {
  position: absolute;
  font-size: 15px;
  line-height: 15px;
  top: 3px;
  left: 3px;
}

.crossword-selected-square {
  background-color: #d2d8ff;
}

.crossword-on-deck-square {
  background-color: #e9e9ff;
}

.crossword-close {
  width: 50px;
  height: 50px;
  background-color: #334155;
  margin: 1px;
}

.crossword-clues {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
}

.crossword.crossword-hidden {
  opacity: 0%;
  transition: opacity 1s;
}
.crossword {
  opacity: 100%;
  transition: opacity 1s;
}

.crossword-solution {
  position: relative;
}

#crossword-reveal-button {
  position: absolute;
  margin: auto;
  inset: 0;
  width: fit-content;
  height: fit-content;
}

.crossword-attribution {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.crossword-keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.crossword-keyboard>div {
  padding: 4px 25px;
  margin: 1px;
  background: #e4e4e7;
  user-select: none;
  cursor: pointer;
}

.crossword-keyboard>div:hover {
  background: #d4d4d8;
}

.crossword-keyboard>div:active {
  background: #a1a1aa;
}
